aiohttp
bcrypt
fastapi[standard]
httpx
websockets
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
email-validator
requests
alembic
python-jose
APScheduler
joblib
numpy
pandas
scikit-learn>=1.0.0
pytest
azure-eventhub